.mainList {
    display: flex;
    flex-direction: column;
    margin-top: 17vh;
    font-size: 22px;
    width: 75%;
    list-style: none;
}

.mainList>li {
    margin-top: 2vh;
    align-items: center;
    text-align: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    color: rgb(19, 19, 19);
    height: 86vh;
    margin-top: 5vh;
    font-size: 22px;
}

.btnCreate {

    align-self: center;

}