.aboutList {
    display: flex;
    flex-direction: column;
    margin-top: 17vh;
    width: 75%;
    font-size: 26px;
    justify-content: space-around;
     color: rgb(19, 19, 19);
}

.aboutList>li {
    margin-bottom: 2vh;
    list-style: none;
}